<component name="ArtifactManager">
  <artifact type="war" name="spring-cloud-stall-eureka:war">
    <output-path>$PROJECT_DIR$/spring-cloud-stall-eureka/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-cloud-stall-eureka</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-cloud-stall-eureka-1.0.war">
      <element id="artifact" artifact-name="spring-cloud-stall-eureka:war exploded" />
    </root>
  </artifact>
</component>